* {
margin: 0;
padding: 0;
box-sizing: border-box;

}

body {
align-items: center;
background: #d44141;
background-image: url("/img/Landscape.jpg");
background-size: cover;
background-repeat: no-repeat;
display: flex;
justify-content: center;
min-height: 100vh;

}